phpunit.xml export-ignore
phpcs.xml export-ignore
.github/ export-ignore
.git/ export-ignore
README.md export-ignore
vendor/ export-ignore
.gitattributes export-ignore
CONTRIBUTING.md export-ignore
composer.lock export-ignore
.eval/ export-ignore
doc/ export-ignore
var.Makefile export-ignore
.idea/ export-ignore
TERMINAL_TITLE export-ignore
.env export-ignore
docker-compose.yml export-ignore
Makefile export-ignore
.last_init_time export-ignore
docker-compose.dev.yml export-ignore
example/ export-ignore
docker-stack.yml export-ignore
tests/ export-ignore
.gitignore export-ignore
.dockerignore export-ignore
phpunit.coverage.xml export-ignore
.scrutinizer.yml export-ignore
.gitattributes.keep export-ignore
.tools/ export-ignore
.make/ export-ignore
docker/ export-ignore
