CHANGELOG.md export-ignore
CODE_OF_CONDUCT.md export-ignore
CONTRIBUTING.md export-ignore
README.md export-ignore
TERMINAL_TITLE export-ignore
TODO.md export-ignore
/build export-ignore
composer.lock export-ignore
docker-compose-debug.yml export-ignore
docker-compose.yml export-ignore
/docs export-ignore
/examples export-ignore
phpcs.xml export-ignore
phpmd.xml export-ignore
phpunit.xml export-ignore
psalm.xml export-ignore
/tests export-ignore
/vendor export-ignore
.appveyor.yml export-ignore
/.chglog export-ignore
.dockerignore export-ignore
.env export-ignore
/.eval export-ignore
/.git export-ignore
.gitattributes export-ignore
/.github export-ignore
.gitignore export-ignore
/.idea export-ignore
.php_cs.cache export-ignore
.phpunit.result.cache export-ignore
.scrutinizer.yml export-ignore
/.travis export-ignore
.travis.yml export-ignore
