language: php

php:
  - 7.2
  - 7.3
  - 7.4snapshot
#  - nightly

matrix:
  allow_failures:
    - php: 7.4snapshot
#    - php: nightly

cache:
  bundler: true

install:
  - travis_retry ./.travis/travis-init.sh
  - travis_retry composer install --no-interaction --prefer-source

script:
  vendor/bin/phpunit --coverage-text